.header {
    height: 140px;
    display: flex;
    flex-direction: column;
    position: sticky;
    padding: 1rem;
    background-color: rgb(145, 145, 145);
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2.8rem;
}

.header-logo {
    width: 200px;
}

.header-btn {
    background-color: rgb(21, 48, 94);
    border-style: none;
}

.header-btn a {
    text-decoration: none;
    color: #fff;
}

.header-phone {
    margin: 1.7rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

.header-phone a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
}

.header-phone a:hover {
    color: #000;
}

.section {
    display: block;
}

.section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tituloFormulario{
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 14px 0;
}
.contenedor{
    font-weight: normal;
    color: black;
    padding-bottom: 1em;
}
.contenedor span{
    color:rgb(157, 248, 255);
}
.formulario{
    background-color:rgb(89, 87, 87);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px ;
    padding-bottom: 30px;
    border-radius: 60px;
}
.formLabel{
    display: block;
    color:rgb(157, 248, 255);
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
}
.formInput{
   border: none;
   outline: none;
   border-bottom: 2px solid rgb(157, 248, 255);
   width: 100%;
   padding: 12px;
   margin-bottom: 20px;
   border-radius: 60px;
   font-size: 14px;
   color: black;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.formTextarea{
    border: none;
    border-bottom: 2px solid rgb(157, 248, 255);
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 60px;
    font-size: 14px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn{
    width: 20%;
   font-family: Georgia, 'Times New Roman', Times, serif;
   outline: none;
   font-size: 14px;
   border: none;  
   border-radius: 60px;
   padding: 15px 0;
   cursor: pointer;
   transition: all .5s ease;
}
.btn:hover{
    background: rgb(157, 248, 255);
}