/* fonts google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif !important;
}

.tarjeta {
    min-height: 260px;
}

.caja {
    background-color: rgb(218, 226, 98);
}

.imagen-container {
    width: 700px;
}